{% extends 'homepage/base.html' %}
{% load static %}
{% block title %}CRUELTOUCH | Client{% endblock %}
{% block login %}
    <li><a href="{% url 'client:logout' %}">Logout</a></li>{% endblock %}
<head>
    {% block customCSS %}
        <link rel="stylesheet" type="text/css" href="{% static 'client/index.css' %}"/>{% endblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>

{% block body %}
    <form action="{% url 'client:favorite' %}" method="post">
        {% csrf_token %}
        {% if all_photos %}
            {% for photo in all_photos %}
                <div class="container">
                    <div class="gallery">
                        <div class="gallery-item" tabindex="0">
                            <img src="/media/Client/{{ photo.name }}" class="gallery-image">
                            <div class="gallery-item-info">
                                <ul>
                                    {% comment %}<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><input
                                                type="radio" aria-hidden="true"
                                                id="photo{{ forloop.counter }} name='photo' value='{{ photo.id }}'"/> </li>{% endcomment %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
            {#            <button type="submit" value="{{ photo.id }}">Favorite</button>#}
        {% else %}
            <h2 class="alert-info" id="info" style="text-align: center; margin-top: auto">
                You don't have any photos yet uploaded</h2>
            <div class="alert-warning" style="text-align: center; font-size: medium">
                Wanna book me ? Click <a href="#">here</a> </div>
        {% endif %}
    </form>
    <script src="{% static 'client/index.js' %}"></script>
{% endblock body %}